
.containerFilter{
    background-color: var(--color-grayLight);
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: .3s all;
}
.active{
    left: 0;
}

.titleFilter{
    color: var(--color-gray);
    margin-bottom: 1.5rem;
}
.contentCheck{
    margin: 0.7rem 0;
    color: var(--color-gray);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btnClear{
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.btnClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.1rem;
}

@media (min-width: 992px){
    .containerFilter{
        width: 170px;
    }
}