.containerSearch{
    display: flex;
	align-items: center;
	gap: 8px;
}

.containerInput {
	display: flex;
	align-items: center;
	gap: 10px;
	border: 1px solid var(--color-gray);
	padding: 8px 16px;
	border-radius: 25px;
}

.iconSearch{
	fill: var(--color-gray);
}

.containerInput input {
	font-family: inherit;
	width: 60px;
	border: none;
	outline: none;
	font-size: 14px;
}

.btnSearch{
	outline: none;
	border-radius: 25px;
	padding: 10px 20px;
}

@media (min-width: 480px){
	.containerSearch{
		gap: 15px;
	}
	.containerInput{
		padding: 10px 20px;
	}
	.containerInput input {
		width: 80px;
	}
}

@media (min-width: 768px){
	.containerInput{
		padding: 15px 20px;
	}
	.containerInput input {
		width: 300px;
		font-size: 15px;
	}
	.btnSearch{
		padding: 15px 30px;
	}
}
