
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

.logo img {
	width: 70px;
}

@media (min-width: 480px){
	.logo img {
		width: 90px;
	}
}

@media (min-width: 768px){
	.logo img {
		width: 150px;
	}
}