.mainPokemon{
    display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}
.headerMainPokemon{
	display: flex;
	flex-direction: column;
	margin-bottom: 5rem;
}
.numberPokemon{
	font-size: 5rem;
	font-weight: 700;
	color: var(--color-primary-hover);
}
.containerImagePokemon{
	height: 500px;
	animation: var(--rightHorizontal);
}
.containerImagePokemon img{
    height: 100%;
}
.containerInfoPokemon{
	order: 1;
    display: flex;
	flex-direction: column;
	animation: var(--leftHorizontal);
}
.containerInfoPokemon h1{
	font-size: 2rem;
}
.infoPokemon{
    display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.groupInfo{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.groupInfo p {
	font-weight: 700;
	font-size: 20px;
}
.containerStats{
    display: flex;
	flex-direction: column;
	gap: 50px;
	animation: var(--bottomVertical);
}
.stats{
    display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}
.statsGroup{
    display: flex;
	align-items: center;
	gap: 20px;
}
.statsGroup span{
    flex: 20%;
	font-weight: 500;
	font-size: 18px;
}
.progressBar{
    width: 100%;
	height: 30px;
	background-color: var(--color-primary);
	border-radius: 10px;
}

@media (min-width: 992px){
	.headerMainPokemon{
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10rem;
	}
	.containerInfoPokemon{
		order: initial;
	}
	.numberPokemon{
		font-size: 12.5rem;
	}
	.containerImagePokemon{
		padding: 25px 25px 25px 0;
	}
	.containerInfoPokemon h1{
		text-align: right;
		font-size: 3.75rem;
	}
	.containerStats{
		flex-direction: row;
		align-items: center;
	}
}
